# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Logs
*.log

# SQLite databases
*.db

# OS files
.DS_Store
Thumbs.db
